@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 100% 97%;
    --foreground: 24 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 24 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 10% 10%;
    --primary: 30 90% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 38 100% 94%;
    --secondary-foreground: 24 10% 10%;
    --muted: 38 50% 92%;
    --muted-foreground: 24 5% 40%;
    --accent: 38 100% 94%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 38 30% 90%;
    --input: 38 30% 90%;
    --ring: 30 90% 55%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 24 10% 10%;
    --foreground: 0 0% 98%;
    --card: 24 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 24 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 30 90% 55%;
    --primary-foreground: 24 10% 10%;
    --secondary: 24 5% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 24 5% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 24 5% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 5% 20%;
    --input: 24 5% 20%;
    --ring: 30 90% 55%;
  }
}

@layer base {
  html {
    scroll-padding-top: 5rem; /* 80px, to offset for sticky header */
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full py-16 sm:py-24;
  }
}
